body{
  padding: 0;
  margin: 0;
  background-color: #E3DACD;
}

#hero-bg{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  transform: skewY(-6deg);
  transform-origin: top left;
  background-color: #B1B1A4;

}

#hero-content{
  color: snow;
  text-align: center;
  margin-top: 220px;
  display: grid;

}
#hero-content h1{
  font-size: 83px;
  position: relative;

}

#hero-content span{
  font-size: 60px;
  position: relative;
}

.sections{
  height: 50px;
  font-size: 22px;
  background-color: #E7B99F;
  margin: 25px;
  padding: 35px;
}

.sections p{
  background-color: #6C7974;
  color: white;
  border-radius: 15px;
  padding: 15px;
}

#main{
  margin-top: 600px;
}

#portrait{
  background-image: url('/imgs/my-image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  height: 300px;
  width: 300px;
  position: absolute;
}

.row{
  height: 80vh;
}

#proj-grid{
  margin-top: 75px;
}
#proj-grid a{
  text-decoration: none;
}

.project-tile{
  height: 300px;
  width: 300px;
  border-radius: 150px;
  position: relative;
  background-image: url('/imgs/under-construction.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.tooltip {
  position: relative;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 50%;
  left: -50%;
  margin-left: -20px;
  opacity: 0;
  transition: opacity 0.3s;
}
/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 40%;
  left: 104%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
  transform: rotate(270deg);
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

#circle-fix{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
