body{
  padding: 0;
  margin: 0;
  background-color: #E3DACD;
}

#hero-bg{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  transform: skewY(-6deg);
  transform-origin: top left;
  background-color: #B1B1A4;

}

#hero-content{
  color: snow;
  text-align: center;
  margin-top: 220px;
  display: grid;

}
#hero-content h1{
  font-size: 83px;
  position: relative;

}

#hero-content span{
  font-size: 60px;
  position: relative;
}

#navbar {
  overflow: hidden;
  background-color: #3F3731;
  height: 75px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 25px;
  z-index: 5000;
}

/* Navbar links */
#navbar a{
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

#navbar a:hover{ border-bottom: 3px solid #e7b99f; }

.active{

}
/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky #main { padding-top: 60px; }

.sections{
  height: 50px;
  font-size: 22px;
  background-color: #E7B99F;
  margin: 25px;
  padding: 35px;
}

.sections p{
  background-color: #6C7974;
  color: white;
  border-radius: 15px;
  padding: 15px;
}

#main{ margin-top: 600px; }

#portrait{
  background-image: url('/imgs/my-image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  height: 300px;
  width: 300px;
  position: absolute;
}



#proj-grid{
  padding-bottom: 75px;
  height: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  align-items: center;
  justify-content: center;
}

#astronaut{
  background-image: url('/imgs/under-construction.jpg');
  border-radius: 150px;
  margin: 200px auto;
}

.project-tile{
  height: 520px;
  width: 520px;
  background-image: url('/imgs/under-construction.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  margin: 0;
}

.overlay-top{
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.overlay-bottom{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.overlay-left{
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

.overlay-right{
  bottom: 0;
  left: 100%;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}
#proj-1:hover .overlay-top{ height: 100%; }
#proj-3:hover .overlay-left{ width: 100%; }
#proj-4:hover .overlay-right{
  width: 100%;
  left: 0;
}
#proj-5:hover .overlay-bottom{ height: 100%; }

#proj-2{
  height: 250px;
  width: 251px;
}

#proj-3{
  height: 250px;
  width: 450px;
  margin: 0;
}

#proj-4{
  height: 450px;
  width: 350px;
  margin: 0;
}

#proj-5{
  height: 550px;
  width: 250px;
  margin: 0;
}

#proj-6{
  height: 250px;
  width: 150px;
  margin: 0;
}

.alt-tiles{
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}
.grow { transition: all .2s ease-in-out; }

.grow:hover { transform: scale(1.1); }

.tooltip { position: relative; }

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 50%;
  left: -50%;
  margin-left: -20px;
  opacity: 0;
  transition: opacity 0.3s;
}
/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 40%;
  left: 104%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
  transform: rotate(270deg);
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
